main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 700px;
  width: 100%;
}

#mainimg {
  display: flex;
  justify-content: center;
}

.productDetailTab {
  /* background-color: yellow;  */
  margin: 30px;
  max-width: 100%;
}

.imgtext {
  display: flex;
  gap: 100px;
  width: 1200px;
  font-size: 23px;
  justify-content: center;

  a {
    color: #b6b6b6;
    font-weight: bold;
  }

  .on {
    color: #333;
  }
}

.endsolid2 {
  width: 100%;
  height: 2px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.endsolid3 {
  width: 1200px;
  height: 7px;
  background-color: #f3f3f3;
  margin-top: 100px;
}

.endsolid4 {
  width: 1200px;
  height: 3px;
  background-color: #f3f3f3;
  margin-top: 100px;
  margin-bottom: 40px;
}

.title {
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  width: 1200px;
  text-align: start;

  span {
    font-weight: bold;
    color: #ff697b;
  }
}

.reviewinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f3f3f3;
  width: 400px;
  height: 142px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: -400px;
  border-radius: 10px;
  margin-top: 50px;
}

.box span {
  color: #a5a5a5;
}

.reviewtext {
  margin-top: 200px;
  margin-bottom: 110px;
  color: #a5a5a5;
  font-size: 25px;
  font-weight: bold;
}

.container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .button {
    width: 110px;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #ff697b;
    background-color: #ff697b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 50px;
  }
}

.inquiryCover {
  width: 1200px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.center-group {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.right-group {
  display: flex;
  gap: 30px;
  margin-left: auto; /* 오른쪽 으로 붙기*/
}

/* 문의하기버튼 alert 창 css */
.alert-button {
  background-color: unset;
  color: #ff697b;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.title-text {
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
}

